<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/topbar %>
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <div class="level">
            <div class="level-left">
              <div class="content">
                <h2 class="subtitle is-5">
                  <%= moment(event.start_time).format("dddd, MMM D, YYYY") %>
                  <span class="is-invisible">"</span>
                </h2>
                <h1 class="title">
                  <%= event.name %>
                </h1>
                <h2 class="subtitle is-6">
                  Hosted by
                  <a href="/user/<%= event.organizer.user_id %>">
                    <%= event.organizer.first_name + ' ' + event.organizer.last_name %>
                  </a>
                </h2>
              </div>
            </div>
            <div class="level-right">
              <% if (!userInEvent) { %>
              <div class="level-item level is-mobile">
                <div class="level-item has-text-centered is-narrow">
                  <div class="content">
                    <div class="title is-6 is-marginless">
                      Want to participate?
                    </div>
                    <p>Join a group below!</p>
                  </div>
                </div>
                <div class="level-item is-narrow">
                  <a href="#groups" class="button is-large is-info">
                    <span class="icon">
                      <i class="fa fa-arrow-down"></i>
                    </span>
                  </a>
                </div>
              </div>
              <% } else { %>
              <div class="level-item level is-mobile">
                <div class="level-item has-text-centered is-narrow" style="margin-right:0.75rem">
                  <div class="content">
                    <div class="title is-6 is-marginless">
                      You're going!
                    </div>
                  </div>
                </div>
                <div class="level-item is-narrow">
                  <span class="icon is-large has-text-success">
                    <i class="fas fa-3x fa-check"></i>
                  </span>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-two-thirds">
            <h1 class="title is-6">
              Details
            </h1>
            <p>
            <%= event.description %>
            </p>
          </div>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-content">
                <div class="field is-horizontal">
                  <div class="field-label is-medium">
                    <span class="icon">
                      <i class="far fa-clock"></i>
                    </span>
                  </div>
                  <div class="field-body">
                    <%= moment(event.start_time).format('dddd, MMM D, YYYY') %>
                    <br>
                    <%= moment(event.start_time).format('h:mm A') %> to <%= moment(event.end_time).format('h:mm A') %>
                  </div>
                </div>
                <div class="field is-horizontal is-marginless">
                  <div class="field-label is-medium">
                    <span class="icon">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <a href="https://maps.google.com/?q=<%= event.location.latlng.lat %>,<%= event.location.latlng.lng %>" target="_blank">
                        <%= event.location.address %>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-medium"></div>
                  <div class="field-body">
                    <div class="field">
                      <%= event.location.room %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-content is-paddingless">
                <a href="https://maps.google.com/?q=<%= event.location.latlng.lat %>,<%= event.location.latlng.lng %>" target="_blank">
                  <div style="height: 300px" id="map"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a id="groups"></a>
    <div class="section" style="padding-top: 0">
      <div class="container">
        <div class="columns is-centered is-multiline">
          <% event.groups.forEach(function(group) { %>
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                <%= group.name %>
                </p>
                <span class="card-header-icon">
                  <% if (!(group.group_id === userGroup) && !userInEvent) { %>
                  <a class="is-text-success" href="/event/join/<%= group.group_id %>">
                    Join
                  </a>
                  <% } else if (group.group_id === userGroup) { %>
                  <a class="is-text-danger" href="/event/leave/<%= group.group_id %>">
                    Leave
                  </a>
                  <% } %>
                </span>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="columns is-multiline">
                    <% group.participants.forEach(function(participant) { %>
                    <div class="column is-narrow">
                      <a href="/user/<%= participant.user_id %>">
                        <div class="box">
                          <div class="title is-6">
                            <%= participant.first_name + ' ' + participant.last_name %>
                          </div>
                          <div class="subtitle is-7">
                            <%= moment(participant.Participants.createdAt).format('MMM D, h:mm A') %>
                          </div>
                        </div>
                      </a>
                    </div>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <script>
      var map
      function initMap() {
        const latlng = {
          lat: <%= event.location.latlng.lat %>,
          lng: <%= event.location.latlng.lng %>
        }

        map = new google.maps.Map(document.getElementById('map'), {
          center: latlng,
          zoom: 16,
          disableDefaultUI: true,
          draggable: false,
          clickableIcons: false
        })

        var marker = new google.maps.Marker({
          position: latlng,
          map: map
        })
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvTpLbTbmNpdFT1tGT_u7qs7xOXL1UC6E&callback=initMap" async defer></script>
  </body>
</html>
