<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/topbar %>
    <div class="section">
      <div class="container">
        <p class="title">New Event</p>
        <form method="post" id="new-event-form">
          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" placeholder="Title" name="eventName" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">
                <span class="icon is-medium">
                  <i class="fas fa-quote-left fa-lg"></i>
                </span>
              </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" name="eventDescription" placeholder="Description"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">
                <span class="icon is-medium">
                  <i class="far fa-clock fa-lg"></i>
                </span>
              </label>
            </div>
            <div class="field-body">
              <div class="field is-grouped">
                <div class="control">
                  <input class="input" type="date" name="eventDate" min="<%= moment().format('YYYY-MM-DD') %>" required>
                </div>
                <div class="control">
                  <input class="input" type="time" step="900" name="eventStartTime" required>
                </div>
                <div class="control">
                  to
                </div>
                <div class="control">
                  <input class="input" type="time" step="900" name="eventEndTime" required>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">
                <span class="icon is-medium">
                  <i class="fas fa-map-marker-alt fa-lg"></i>
                </span>
              </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="search" id="address-input" placeholder="Address" required />
                </div>
              </div>
              <div class="control">
                <input class="input" type="text" name="eventRoom" placeholder="Room" required/>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <div class="label">
                Number of Groups
              </div>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select"">
                    <select name="eventNumGroups" id="eventNumGroups" required>
                      <% for(let i = 0; i < maxNumGroups; i += 1) { %>
                      <option value="<%= i+1 %>"><%=i + 1 %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% for(let groupNum = 0; groupNum < maxNumGroups; groupNum += 1) { %>
          <div id="group-<%= groupNum %>-field" style="display: none" class="field is-horizontal">
            <div class="field-label">
              <div class="label">
                Group <%= groupNum + 1 %>
              </div>
            </div>
            <div class="field-body">
              <div class="field is-grouped">
                <div class="control">
                  <input class="input" type="text" name="eventGroupName<%= groupNum %>" placeholder="Group Name">
                </div>
                <div class="control">
                  <input class="input" type="number" name="eventGroupMaxParticipants<%= groupNum %>"
                                                     placeholder="Max participants" min="1" max="50">
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <input class="input is-invisible" type="text" id="address-value" name="eventLocation" required/>
          <div class="control">
            <button class="button is-primary" type="submit">Create</button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
    <script>
      (function() {
        const placesAutocomplete = places({
          appId: 'pl52ZR8GQBYS',
          apiKey: 'ca74a144a09b6c97744ef6010f6e7b98',
          container: document.querySelector('#address-input')
        })

        const address = document.querySelector('#address-value')
        placesAutocomplete.on('change', function(e) {
          address.value = JSON.stringify({
            value: e.suggestion.value,
            latlng: e.suggestion.latlng
          })
        });

        placesAutocomplete.on('clear', function() {
          address.value = null
        });
      })()
    </script>

    <script>
      document.getElementById('eventNumGroups').addEventListener('change', function() {
        toggleGroupFields(this.value)
      })

      function toggleGroupFields(max) {
        for(let i = 0; i < <%= maxNumGroups %>; i += 1) {
          const groupField = document.getElementById('group-' + i + '-field')
          if (groupField) {
            if (i >= max) {
              groupField.style.display = "none"
            } else {
              groupField.style.display = ""
            }
          }
        }
      }

      toggleGroupFields(<%= numGroups-1 %>)
    </script>
  </body>
</html>
